<!DOCTYPE html>
<html>

<head>
  <title>受け渡し</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <p>牛番号１のデータは　<%=bango1%>    時間:  <%=bango1t%></p>
  <p>牛番号２のデータは　<%=bango2%>    時間:  <%=bango2t%></p>
  <p>牛番号３のデータは　<%=bango3%>    時間:  <%=bango3t%></p>
  <p>牛番号４のデータは　<%=bango4%>    時間:  <%=bango4t%></p>

</body>

</html>
